<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Job Application Form</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container p-4">
      <div class="w-50 shadow rounded p-4 mx-auto">
        <h1 class="text-center text-success mb-4">Job Application Form</h1>

        <form
          th:action="@{/submit-application}"
          th:object="${applicant}"
          method="post"
        >
          <div class="mb-3 d-flex gap-2 align-items-center">
            <div class="w-100">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                th:field="*{firstName}"
                class="form-control"
                id="firstName"
                required
              />
            </div>
            <div class="w-100">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                th:field="*{lastName}"
                class="form-control"
                id="lastName"
                required
              />
            </div>
          </div>

          <div class="mb-3 d-flex gap-2 align-items-center">
            <div class="w-100">
              <label for="email" class="form-label">Email Address</label>
              <input
                type="email"
                th:field="*{email}"
                class="form-control"
                id="email"
                required
              />
            </div>
            <div class="w-100">
              <label for="phoneNumber" class="form-label">Phone Number</label>
              <input
                type="text"
                th:field="*{phoneNumber}"
                class="form-control"
                id="phoneNumber"
                required
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input
              type="text"
              th:field="*{address}"
              class="form-control"
              id="address"
            />
          </div>

          <div class="mb-3">
            <label for="profession" class="form-label">Profession</label>
            <input
              type="text"
              th:field="*{profession}"
              class="form-control"
              id="profession"
              required
            />
          </div>

          <div class="mb-3">
            <label for="hobby" class="form-label">Hobby</label>
            <input
              type="text"
              th:field="*{hobby}"
              class="form-control"
              id="hobby"
            />
          </div>

          <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input
              type="number"
              th:field="*{age}"
              class="form-control"
              id="age"
            />
          </div>

          <button type="submit" class="btn btn-success w-100">
            Apply for Job
          </button>
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
